
.form-group input[type="file"]::file-selector-button {
    background-color: rgb(89, 0, 89);
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0px 15px 0px 0px;
}

#colorPurple,
.form-group input[type="file"] {
    color: rgb(89, 0, 89);
}

#editBtn:hover,
#editBtn {
    margin-top: 40px;
    font-size: 35px;
    width: fit-content;
    margin: 50px 20px 0px 0px;
}

.btns {
    display: flex;
    justify-content: center;
}

#titleInput,
#titleInput1 {
    display: flex;
    flex-direction: column;
}

#titleInput1 {
    margin-right: 80px;
}

#answers {
    display: flex;
    flex-direction: row;
}

#createContainer {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#titleQuestion {
    margin-top: 30px;
    color: rgb(89, 0, 89);
    margin-right: 20px;
    font-weight: bold;
    font-size: 35px;
}

#title {
    margin-top: 30px;
    color: rgb(89, 0, 89);
    margin-right: 20px;
    font-weight: bold;
    font-size: 23px;
}

#inputTitle,
#pswInputLogin {
    width: 450px;
    height: 50px;
    border-radius: 100px;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
}

#createbtn:hover,
#createbtn {
    margin-top: 40px;
    font-size: 35px;
    width: fit-content;
    margin: 50px 20px 0px 0px;
}
