
#logo {
    border-radius: 10px;
    width: 200px;
  }
  
  #header {
    background-color: rgb(255, 150, 45);
    display: flex;
    padding: 20px;
    position:fixed;
    width: 100%;
  }
  
  .navbar {
    margin-left: auto;
  }
  
  #headerTitles {
    font-size: 40px;
    text-shadow: -1.3px 1.3px 0 rgb(89, 0, 89), 1.3px 1.3px 0 rgb(89, 0, 89),
      1.3px -1.3px 0 rgb(89, 0, 89), -1.3px -1.3px 0 rgb(89, 0, 89);
  }
  
  .headerItem {
    color: white;
    margin-right: 20px;
    font-weight: bold;
  }
  
  a:link,
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  #login {
    margin-left: 35px;
    font-size: 25px;
    background-color: rgb(89, 0, 89);
    border-radius: 50px 0px 0px 50px;
    border-style: solid;
    color: white;
    border-width: 3px 0px 3px 3px;
    font-weight: bold;
  }
  
  #login:hover {
    margin-left: 35px;
    background-color: rgb(255, 240, 255);
    border-color: rgb(70, 0, 70);
    border-width: 3px 0px 3px 3px;
    color: rgb(69, 0, 69);
    font-weight: bold;
  }
  
  #signUp {
    font-size: 25px;
    color: white;
    background-color: rgb(70, 0, 70);
    border-radius: 0px 50px 50px 0px;
    border-style: solid;
    border-width: 3px 3px 3px 0px;
    font-weight: bold;
  }
  
  #signUp:hover {
    background-color: rgb(255, 240, 255);
    border-color: rgb(89, 0, 89);
    border-width: 3px 3px 3px 0px;
    color: rgb(89, 0, 89);
    font-weight: bold;
  }